.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 104px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 72px;
  padding-right: 10px;
}

.header__link {
  display: flex;
  gap: 40px;
  position: relative;
}
.active::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fc857f;
  position: absolute;
  top: -4px;
  right: -3px;
}

.header__logo {
  width: 137.51px;
  height: 28.64px;
}

.header__signOutBtn {
  background-color: white;
  border: none;
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  padding: 0;
}

.header__signOutBtn:hover {
  color: darkgrey;
}

.header__signOutBtn:active {
  color: rgb(126, 125, 125);
}
